.toast {
  position: fixed;
  top: .5rem;
  right: -1000%;
  padding: 1rem;
  border-radius: 10px 0px 0px 10px;
  min-width: 15rem;
  box-shadow: 0 0 10px #252525;

  &.show{
    animation: showToast 1s ease-in-out forwards;
    @keyframes showToast {
      to{
        right: 0rem;
      }
    }
  }
  &.hide{
    right: 0rem;
    animation: hideToast 1s ease-in-out forwards;
    @keyframes hideToast {
      to{
        right: -1000%;
      }
    }
  }

  &.shake {
    right: 0rem;
    animation: shakeToast 1s ease-in-out 1.5;

    @keyframes shakeToast {

      0%,
      100% {
        transform: translateY(0);
      }

      25%,
      75% {
        transform: translateY(-5px);
      }

      50% {
        transform: translateY(5px);
      }
    }
  }
}
